<section class="header">
    <nav>
        <a href="" class="logo">BRAND XYZ</a>
        <div class="nav-links" id="navLinks">
            <i class="fa-solid fa-xmark" onclick="hideMenu()"></i> 
            <ul>
                <li><a routerLink="/">HOME</a></li>
                <li><a routerLink="/about">ABOUT</a></li>
                <li><a href="">PRODUCTS</a></li>
                <li><a href="">CART</a></li>
                <li><a href="">LOGIN</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <h1>Lorem Ipsum Dolor Sit Amet!</h1>
        <p>Lorem ipsum dolor sit amet. Non necessitatibus illum in porro perferendis non nihil suscipit sed <br> 
            similique voluptatum. Ea beatae odit sed ducimus velit ut unde error praesentium at sint explicabo.</p>
        <a href="" class="shop-now-btn">SHOP NOW</a>
    </div>
</section>

<!-- HOME -->
<!-- <section class="welcome">
    <div class="text-box">
        <h1>Lorem Ipsum Dolor Sit Amet!</h1>
        <p>Lorem ipsum dolor sit amet. Non necessitatibus illum in porro perferendis non nihil suscipit sed <br> 
            similique voluptatum. Ea beatae odit sed ducimus velit ut unde error praesentium at sint explicabo.</p>
        <a href="" class="shop-now-btn">SHOP NOW</a>
    </div>
</section> -->

<section class="bestsellers">
    <h1>Best Sellers</h1>
    <p>
        Lorem ipsum dolor sit amet quo voluptatum labore aut ullam ipsum ut modi.
    </p>

    <div class="row">
        <div class="bestseller-col">
            <img src="../../../assets/images/home/bestsellers/bestseller1.png">
            <div class="products">
                <h3>APPETIZER</h3>
            </div>
        </div>
        <div class="bestseller-col">
            <img src="../../../assets/images/home/bestsellers/bestseller2.png">
            <div class="products">
                <h3>MAIN COURSE</h3>
            </div>
        </div>
        <div class="bestseller-col">
            <img src="../../../assets/images/home/bestsellers/bestseller3.png">
            <div class="products">
                <h3>DESSERT</h3>
            </div>
        </div>
    </div>
</section>

<section class="reviews">
    <h1>Customer Reviews</h1>
    <p>
        Lorem ipsum dolor sit amet quo voluptatum labore aut ullam ipsum ut modi.
    </p>

    <div class="row">
        <div class="reviews-col">
            <img src="../../../assets/images/home/feedback/harrypotter.jpg">
            <div>
                <h3>Harry Potter</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <p>
                    Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim. 
                </p>
            </div>
        </div>
        <div class="reviews-col">
            <img src="../../../assets/images/home/feedback/hermionegranger.jpg">
            <div>
                <h3>Hermione Granger</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>
                    Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim.
                </p>
            </div>
        </div>
        <div class="reviews-col">
            <img src="../../../assets/images/home/feedback/ronweasley.jpg">
            <div>
                <h3>Ronald Weasley</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p>
                    Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="reviews-col">
            <img src="../../../assets/images/home/feedback/severussnape.jpg">
            <div>
                <h3>Severus Snape</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>
                    Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim.
                </p>
            </div>
        </div>
        <div class="reviews-col">
            <img src="../../../assets/images/home/feedback/albusdumbledore.jpg">
            <div>
                <h3>Albus Dumbledore</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>
                    Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim.
                </p>
            </div>
        </div>
        <div class="reviews-col">
            <img src="../../../assets/images/home/feedback/dracomalfoy.jpg">
            <div>
                <h3>Draco Malfoy</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>
                    Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <h1>Lorem Ipsum Dolor Sit Amet Iusto Consectetur Quo <br>
    Natus Debitis Ut Vero</h1>
    <a href="" class="contact-us-btn">CONTACT US</a>
</section>

<section class="about-us">
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. <br>
        In voluptatem 
        perferendis ea iusto 
        consectetur quo natus debitis ut vero quos ad <br> 
        facilis commodi id inventore enim molestias dolorem dolor sit.
    </p>
    <div class="icons">
        <i href="" class="fa-brands fa-square-facebook"></i>
        <i href="" class="fa-brands fa-square-twitter"></i>
        <i href="" class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-youtube"></i>
    </div>
</section>
<!-- END -->