<section class="sub-header">
    <nav>
        <a href="" class="logo">BRAND XYZ</a>
        <div class="nav-links" id="navLinks">
            <i class="fa-solid fa-xmark" onclick="hideMenu()"></i> 
            <ul>
                <li><a routerLink="/">HOME</a></li>
                <li><a routerLink="/about">ABOUT</a></li>
                <li><a href="">PRODUCTS</a></li>
                <li><a href="">CART</a></li>
                <li><a href="">LOGIN</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1> About Us</h1>
</section>

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Lorem Ipsum Dolor Sit Amet Iusto</h1>
            <p>
                Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim.
                <br>
                <br>
                Lorem ipsum dolor sit amet. Ut aperiam veritatis nam quia reiciendis est molestias dolorem. In voluptatem perferendis ea iusto consectetur quo natus debitis ut vero quos ad facilis commodi id inventore enim.
            </p>
            <a href="" class="shop-now-btn">SHOP NOW</a>
        </div>
        <div class="about-col">
            <img src="../../../assets/images/about/about1.png">
        </div>
    </div>
</section>